Source: ros-lyrical-pfs
Section: misc
Priority: optional
Maintainer: "Daniel Trugman" <dtrugman@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/pfs/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-pfs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-ros-workspace
Description: Production grade, very easy to use, procfs parsing library in C++
