Source: ros-kilted-pfs
Section: misc
Priority: optional
Maintainer: Daniel Trugman <dtrugman@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-pfs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-ros-workspace
Description: Production grade, very easy to use, procfs parsing library in C++
